In [1]:
import random
import pandas as pd

In [2]:
d1 = []
d2 = []
d3 = []
d4 = []
for i in range (50000):
    x = random.random()
    d1.append(x)
    y = random.random()
    d2.append(y)
    z = random.random()
    d3.append(z)
    d4.append(2*x+3*y+z)

In [3]:
df = pd.DataFrame({'x1':d1,'x2':d2,'x3':d3,'x4':d4},index=range(0,50000))

In [4]:
df

             x1        x2        x3        x4
0      0.104723  0.359917  0.080474  1.369670
1      0.116149  0.215412  0.493376  1.371910
2      0.283950  0.428930  0.864533  2.719222
3      0.252364  0.993565  0.601943  4.087367
4      0.566795  0.512863  0.735683  3.407864
...         ...       ...       ...       ...
49995  0.972629  0.386071  0.631209  3.734680
49996  0.492490  0.420398  0.052021  2.298196
49997  0.006172  0.034644  0.498354  0.614629
49998  0.663066  0.733203  0.290020  3.815761
49999  0.470451  0.497368  0.832844  3.265852

[50000 rows x 4 columns]

In [5]:
x = df.iloc[:,0:3]
y = df[['x4']]

In [6]:
x

             x1        x2        x3
0      0.104723  0.359917  0.080474
1      0.116149  0.215412  0.493376
2      0.283950  0.428930  0.864533
3      0.252364  0.993565  0.601943
4      0.566795  0.512863  0.735683
...         ...       ...       ...
49995  0.972629  0.386071  0.631209
49996  0.492490  0.420398  0.052021
49997  0.006172  0.034644  0.498354
49998  0.663066  0.733203  0.290020
49999  0.470451  0.497368  0.832844

[50000 rows x 3 columns]

In [7]:
y

             x4
0      1.369670
1      1.371910
2      2.719222
3      4.087367
4      3.407864
...         ...
49995  3.734680
49996  2.298196
49997  0.614629
49998  3.815761
49999  3.265852

[50000 rows x 1 columns]

In [8]:
import tensorflow as tf

WARNING:tensorflow:From C:\Users\91798\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3)

In [10]:
model = tf.keras.models.Sequential([tf.keras.layers.Dense(9,input_dim = 3,activation = 'relu'),
                                   tf.keras.layers.Dense(6, activation='relu'),
                                tf.keras.layers.Dense(1, activation='linear')])
model.compile(optimizer='adam',
              loss='mse',
              metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\91798\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\91798\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [11]:
model.fit(x_train, y_train, epochs=20)

Epoch 1/20
WARNING:tensorflow:From C:\Users\91798\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\91798\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

1094/1094 [==============================] - 5s 3ms/step - loss: 1.1630 - accuracy: 0.0000e+00
Epoch 2/20
1094/1094 [==============================] - 4s 3ms/step - loss: 0.0045 - accuracy: 0.0000e+00
Epoch 3/20
1094/1094 [==============================] - 4s 3ms/step - loss: 9.4597e-04 - accuracy: 0.0000e+00
Epoch 4/20
1094/1094 [==============================] - 4s 3ms/step - loss: 4.3506e-04 - accuracy: 0.0000e+00
Epoch 5/20
1094/1094 [==============================] - 4s 4ms/step - loss: 1.9404e-04 - accuracy: 0.0000e+00
Epoch 6/20
1094/1094 [==============================] - 3s 3ms/step - loss: 8.8542e-05 - accuracy: 0.0000e+00
Epoch 7/20
1094/1094 [==============================] - 4s 3ms/step - loss: 4.3321e-05 - accuracy: 0.0000e+00
Epoch 8/20
1094/1094 [==============================] - 3s 3ms/step - loss: 2.1410e-05 - accuracy: 0.0000e+00
Epoch 9/20
1094/1094 [==============================] - 3s 3ms/step - loss: 1.0594e-05 - accuracy: 0.0000e+00
Epoch 10/20
1094/1094 [==============================] - 3s 3ms/step - loss: 5.1508e-06 - accuracy: 0.0000e+00
Epoch 11/20
1094/1094 [==============================] - 3s 3ms/step - loss: 2.6193e-06 - accuracy: 0.0000e+00
Epoch 12/20
1094/1094 [==============================] - 3s 3ms/step - loss: 1.4938e-06 - accuracy: 0.0000e+00
Epoch 13/20
1094/1094 [==============================] - 3s 3ms/step - loss: 1.0819e-06 - accuracy: 0.0000e+00
Epoch 14/20
1094/1094 [==============================] - 3s 3ms/step - loss: 1.1439e-06 - accuracy: 0.0000e+00
Epoch 15/20
1094/1094 [==============================] - 3s 3ms/step - loss: 1.0517e-06 - accuracy: 0.0000e+00
Epoch 16/20
1094/1094 [==============================] - 3s 3ms/step - loss: 7.6269e-07 - accuracy: 0.0000e+00
Epoch 17/20
1094/1094 [==============================] - 4s 3ms/step - loss: 7.5646e-07 - accuracy: 0.0000e+00
Epoch 18/20
1094/1094 [==============================] - 4s 3ms/step - loss: 8.2277e-07 - accuracy: 0.0000e+00
Epoch 19/20
1094/1094 [==============================] - 4s 3ms/step - loss: 6.2020e-07 - accuracy: 0.0000e+00
Epoch 20/20
1094/1094 [==============================] - 4s 4ms/step - loss: 8.2495e-07 - accuracy: 0.0000e+00

In [12]:
y_pred=model.predict(x_test)

469/469 [==============================] - 2s 3ms/step

In [13]:
from sklearn.metrics import r2_score

In [14]:
r2_score(y_pred, y_test)

0.9999999274568072